.smaller-font { font-size:0.9em; line-height:normal; }
.grey { color:#666; }
.clear-both { clear:both; }
.center { text-align:center; }
.hr {width:100%;clear:both;height:2px; border-top:1px solid #666;}
.hr-grey {width:100%;clear:both;height:2px; border-top:1px solid #E6e6e6;}

#content-inner, .ui-dialog-content {
  font: 0.8em/1.8em Arial, sans-serif;
}
#sidebar-left .content-class, #sidebar-right .content-class {
  font: 0.8em Arial, sans-serif;
}
#sidebar-left h4, #sidebar-right h4, #sidebar-left h3, #sidebar-right h3{
  margin: 5px 0 5px 0;  
}
#sidebar-left p, #sidebar-right p{
  margin:0px;
}

#header {
}
#logo {
  padding: 5px;
}

/* HELVETICA FONT ************/
#primary a, #secondary a, #tabs a, .node-teaser h2, .views-table caption, .search-result h2 {
  font-family: Helvetica, Arial, sans-serif;
}

/* ICONS **********************/
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-icon { width: 15px; height: 15px; background-image: url(img/icons.gif); }
.ui-icon-closethick {background-position: 0 0;}
.ui-icon-closethick:hover{background-position: -15px 0; }
.ui-icon-gripsmall-diagonal-se { background-position: 0px -15px; }
.ui-icon-grip-diagonal-se { background-position: 0px -15px; }


/* PRIMARY LINKS **********/
#primary li {
  padding: 0;
}
#primary span {
  padding: 4px 5px;
  display: block;
}
#primary a:hover span, #primary a.active span, #primary li.active-trail a span{
  background: #333;  
}
#primary a {
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  color: #333333;
  padding: 0 10px 10px 0;
}
#primary a:hover, #primary a.active, #primary li.active-trail a {
  color: #fff;
  background: url(img/primary_arrow.png) 0 27px no-repeat;
}

/* SEARCH BOX **********/
#search-box input {
  background: #f2f2f2 url(img/loupe.png) no-repeat 5px 6px;
  padding: 6px 6px 6px 25px;
  font-size: 1em;
  border: 2px solid #fff;
  color: #333;
  font-family: Arial, sans-serif;
}

#search-box input:focus, #search-box input:active {
  padding: 5px 5px 5px 24px;
  border: 2px solid #e6e6e6;
  background: #f2f2f2 url(img/loupe.png) no-repeat 5px 6px;
}

/* SECONDARY LINKS ***********/
#secondary a, #sidebar-left h2, #sidebar-right h2 {
  font-size:12px;
  text-transform: uppercase;
  text-decoration: none;
}
#secondary li {
  padding: 0 5px 0 0;
}
#secondary a span{
  padding: 3px;
  cursor: pointer;
  color: #666;
  background: #E6E6E6;
  font-weight:bold;
}
#secondary a:hover span, 
#secondary a.active span,
#secondary li.active-trail a span,
#sidebar-left h2 span.span-block-inner, 
#sidebar-right h2 span.span-block-inner {
  color: #333;
  background: #fff;  
}
.menu-408 a span, .menu-952 a span{
  color: #8FA915 !important;/*6DAC63*/
}
.menu-631 a span, .menu-970 a span{
  color: #BF2726 !important; 
}
.menu-606 a span, .menu-973 a span{
  color: #DEAD26 !important;  
}

/* SIDEBARS **********/
#sidebar-left h2 span span.span-block-inner, #sidebar-right h2 span span.span-block-inner {
 display: block;
 float:left;
 padding: 3px;  
}
#sidebar-left h2, #sidebar-right h2 {
  display:inline !important;
  font-weight: normal;
}
#sidebar-left .content-class, #sidebar-right .content-class {
 clear: both;
 margin: 0;
 padding: 5px;
}
#sidebar-left .block, #sidebar-right .block {
  padding-bottom:10px;
}
.collapsible-sidebox{
  overflow: hidden;
}
#sidebar-left .ui-resizable-s {height:10px; background:#000;}

#sidebar-left .expand-button {
  float:right; width:15px; height: 15px;
  overflow: hidden; background-repeat: no-repeat;
  background-image: url(img/icons.gif);
  background-position: 0px -30px;
  display:block;
}

#sidebar-left .expand-button:hover {
  background-position: 0px -45px;
}
div.all-link{
  height:20px;
  margin-top:5px;
  clear: both;
  font-size: 0.85em;
  font-family: Helvetica, Arial, sans-serif;
}
.all-link a span{
  background: #f6f6f6 url(img/view-all.png) no-repeat right;
  padding: 2px 25px 2px 2px;
  display: block;
  float: left;
  cursor:pointer;
}
.all-link a{
  text-transform:uppercase;
  text-decoration: none;
  color: #333;
}
.all-link a:hover {
  color: #fff;
}
/*** agent ***/
.all-link-agent a:hover span {
  background: #8FA915 url(img/view-all_.png) no-repeat right;
}
/*** exhibition ***/
.all-link-exhibition a:hover span {
  background: #DEAD26 url(img/view-all_.png) no-repeat right;
}
/*** artwork ***/
.all-link-artwork a:hover span {
  background: #BF2726 url(img/view-all_.png) no-repeat right;
}
/*** publi ***/
.all-link-publication a:hover span{
  background: #333 url(img/view-all_.png) no-repeat right;
}

/* TABLE *********/

tr.odd {
  background: #F8F8F8 !important; 
}
tr.even {
}

/* NODE *************/

#content-inner h1{
  margin:5px 0 15px 0;
}

span.label {  
  font-weight:bold;
  display: block;
  float: left;
}
span.value {
  margin-bottom: 15px;
}


/* TABS ******/
.ui-tabs-hide { display: none; }

#tabs h2.node-title{
  float: left;
  font-size: 1.4em;
  margin: 0;
  padding: 0px;
}
#tabs ul.ui-tabs-nav{
  display: block; 
  float: right;
  height: 24px;  
  margin: 0 0 0 0;
  padding: 0;
}
#tabs ul.ui-tabs-nav li {
  display: inline;
  list-style-type: none;
}
#tabs ul.ui-tabs-nav li a{
  display: block;
  float:left;
  text-decoration: none;
  text-transform:uppercase;
  padding: 2px 7px 0px 7px;
  margin: 0px 0px 0 5px;
  background: #E6E6E6;
  color: #333;
}
#tabs ul.ui-tabs-nav li a:hover, #tabs ul.ui-tabs-nav li.ui-state-active a{
  background: #333;
  color: #E6E6E6;
}
#info-tab, #biography-tab, #comment-tab, #media-tab {
  clear:both;
}
.ui-tabs-panel{
  margin-top: 10px;
}

/* FLAG *******/
.flag-wrapper-outer{
  width:29px;
  float:right;
}
.flag-wrapper {
  float: right;
  width: 24px;
  height: 24px;
  margin: 0px 0 0 0;
  padding: 0;
  position: relative;
}
.flag-wrapper a.flag-action  {
  background: url(img/like_.png);
}
.flag-wrapper a.unflag-action  {
  background: url(img/like.png);
}
.flag-wrapper a {
  display: block;
  width:24px;
  height:24px;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.flag-waiting .flag-throbber {
  background: url(img/flag-throbber.gif) no-repeat center center;
  padding: 0 !important;
}
.flag-wrapper div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
}

/* NODES *************************/
/*artwork **/
.artwork-image{
  padding:5px;
  background: #E6E6E6;
  float:right;
}
.biography-label{
  display: block;
  float:left;
  font-weight:bold;
  width: 100px;
}

/* COMMUNITY TAGS *************/
#tabs div.tag-widget ul.inline-tags {
  padding: 0 0 0 22px;
}
.form-item label {
  /*text-transform: uppercase;*/
}

/* TAGS ************/
/* allgemein block */
span.tag {
  display: inline-block;
  margin-right:3px;
}
span.tag a{
  font-size:0.9em;
  color: #333;
  text-decoration: none;
}
span.tag a:hover{
  background: #333;
  color: #fff;
}
span.tag a:visited{
  color:#666;
}
/* agent block */
#block-eca_main-0 h2.title span span, #block-eca_main-5 h2.title span span{
  color: #8FA915 !important;
}
span.tag-agent a:hover, span.tag-agent-active {
  background: #8FA915;
  color: #fff;
}
/* artwork block */
#block-eca_main-1 h2.title span span, #block-eca_main-4 h2.title span span {
  color: #BF2726 !important;
}
span.tag-artwork a:hover, span.tag-artwork-active {
  background: #BF2726;
  color: #fff;
}
/* exhibitions block */
#block-eca_main-2 h2.title span span{
  color: #DEAD26 !important;
}
span.tag-exhibition a:hover {
  background: #DEAD26;
  color: #fff;
}

/** Views table, eg. TAGGED by me, STARRED by me ***********/
.views-table {
  margin-bottom:25px;
}
.views-table caption {
  text-align: left;
  margin-bottom:5px;
}
.views-table thead, .views-table td.active { background: #e6e6e6; }
.views-table thead a { text-decoration:none; color: #333; }
.views-table thead th {border-bottom: 3px solid #fff;}
.views-table thead tr { }
.views-table tr { height:30px; }
.views-table td, .views-table th { padding: 3px; border: 2px solid #fff; }
td.views-field-count, td.views-field-count,
th.views-field-totalcount, td.views-field-totalcount,
th.views-field-timestamp, td.views-field-timestamp,
th.views-field-comment-count, td.views-field-comment-count {
  width:80px;
}
th.views-field-ops, td.views-field-ops {
  width: 30px;
  padding:0;
}
.views-table td.views-field-title {
  width:450px;
  font-family: Helvetica, Arial, sans-serif;
}
.views-table td.views-field-title a {
  font-size:1.2em !important;
}




/* TEASER ******************/

.exhibit-toolboxWidget-button, .exhibit-toolboxWidget-popup {display:none;}
.exhibit-collectionView-header div{ float:left; }
.exhibit-collectionView-header div.exhibit-collectionView-header-sortControls{ float:right; margin: 0 0 5px 0; }
.exhibit-collectionView-header-groupControl {display:none;} /* hide the grouping function */
.exhibit-collectionView-group-content {margin:0 !important;} /* unset the left margin for grouped content */
.exhibit-collectionView-group h1 {display:block;clear:both;} /* group headline */
ol.exhibit-tileView-body {
  list-style: none; list-style-position: outside;
  margin: 0; padding: 0;
}
ol.exhibit-tileView-body li { margin:0; padding:0; list-style: none; list-style-position: outside; }
.node-teaser { height: 75px; background: #fff; }
.teaser-spacer { width: 75px; float: left; }
.teaser-thumb {
  background: #F2F2F2;
  width: 70px;
  height: 70px;
  float: left;
}
.teaser-body {  
  width: 480px;
  float:left;
}
/* update the width for other types */
.teaser-body-no-image { width: 555px !important; }
.teaser-body-publication { width: 705px !important; }

.teaser-body-inner{
  background: #F2F2F2;
  padding: 0 5px 0 0 !important;
  margin-right: 5px !important;
  height: 70px;
}
.node-teaser h2, .search-result h2 {
   margin:0;   
}
.node-teaser h2 {
  padding:5px 5px 0 5px; 
}
.teaser-body-no-image h2 {
  padding-bottom: 15px;
}
.teaser-body-publication h2 {
  padding-bottom: 5px;
}
/* set a different font-size for the title of publications */
.teaser-body-publication h2 a {
  font-size:18px !important;
}
/* style the exhibits, the table and the search result headlines/titles */
.node-teaser h2 a, td.views-field-title a, .search-result h2 a{
  color: #333;
  font-size: 23px;
  line-height: 1em;
  text-decoration: none;
  font-weight: normal;
}
.node-teaser h2 a:visited, td.views-field-title a:visited, .search-result h2 a:visited{
  color: #666;
}
.node-teaser h2 a:hover, td.views-field-title a:hover, .search-result h2 a:hover{
  color: #000;
}
.teaser-body-inner label{
  padding-left: 5px;
}
/* eg. artwork type */
div.teaser-type {
  float:right;
  line-height:1.5em !important;
  padding-top:6px;
}
/* eg. Starred by.. */
.teaser-small-text, .teaser-type{
  font-size: 0.8em;
  color: #666;
}
.teaser-bookmark-count, .teaser-count{
  font-size: 1.3em;
}
.teaser-updated {
  float: right;  
}
.teaser-updated span span span.marker{ 
  color: #FFBB00 !important;
  font-size: 0.8em !important;
}

/*** ROWS ************/
.row {
  width:690px;
  height:75px;
  clear: both;
}
.row-box, .row-small-box{
  float: left;
  height:75px;
}
.row-box-inner{
  padding:0 5px 0 5px;
  background-color: #F2F2F2;
}
.row-box {
  width: 445px;
}
.row-small-box {
  width:85px;  
}
.box-inner{
  
}
.row-agent {
  
}


/**** FACET BLOCK ************/
div.exhibit-facet-header, div.exhibit-cloudFacet-header{
  margin: 10px 0 0 0;
  font-weight: normal !important;  
  font-size:0.9em;
  font-family: Helvetica;  
}
span.exhibit-facet-header-title, span.exhibit-cloudFacet-header-title{
  font-weight: normal !important;
}
div.exhibit-text-facet input{
  border: 2px solid #fff;
  background: #f2f2f2;
  /*background: #F2F2F2;  einsheller */
  padding: 2px;
	color: #333;
  width: 221px;
}
div.exhibit-text-facet input:focus, div.exhibit-text-facet input:active {
  border: 2px solid #e6e6e6;
  padding: 2px;
}
div.exhibit-cloudFacet-header, div.exhibit-facet-header {
  display: none;
}
.exhibit-cloudFacet-body, .exhibit-cloudFacet {
  border: none !important; /* remove the boarder of the facet tag clouds */
}

/* EXHIBIT TABLE ******/

table.exhibit-tabularView-body tbody tr {
  background: #f2f2f2;
  border: 4px solid #fff;
}
table.exhibit-tabularView-body, table.exhibit-tabularView-body tbody  {
  border: 0;
}

div.exhibit-busyIndicator, div.exhibit-busyIndicator div , div.exhibit-busyIndicator div div {
  background: #fff !important;
  background-image: none !important;
  
}
div.exhibit-busyIndicator {
  border: 2px solid #e6e6e6 !important;
}


/**** DIAGLOG ************/

.ajax-loader{
  position: absolute;
  width: 30px;
  height: 30px; background: #ffffff url(img/flag-throbber.gif) no-repeat center center;
  z-index: 99;
  border: 1px solid #333;
}

.ui-dialog {
  background:#ffffff;  
}
.ui-dialog-titlebar{
  background:#E6E6E6;
  color:#E6E6E6;
  height:15px;
}
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right:0; top:0; width:15px; height:15px;}
.ui-dialog-content {
  padding: 5px;
}

/* TOOLTIP **************/
#tooltip {
	position: absolute;
	z-index: 3000;
	background-color: #F2F2F2;
	padding: 5px;
  border: 1px solid #666;
}
#tooltip h3, #tooltip div { margin: 0; }
#tooltip h3 {
  font-size: 0.8em; font-weight: normal; color: #333;
}

/** COMMENTS ***************/
.comment {
  background: #f2f2f2;
  padding: 0 5px 0 5px;
  margin: 5px 0 0 0;
  border-top: 3px solid #e6e6e6;  
}
.comment h3 {
  margin: 0;
  padding: 0;
}
.comment h3 a {  
  text-decoration: none;
  color: #333;
}
.comment .submitted {
  font-size: 0.86em;
  color: #666;
}
#comment-form input.form-text, #comment-form textarea {
  background: #f2f2f2;
  border: 2px solid #e6e6e6;  
}
#comment-form input:focus.form-text , #comment-form textarea:focus {
  border: 2px solid #e6e6e6;  
}

/** MEMBERS *************/
div.view-Members ul { list-style: none; margin: 0; padding:0;}
div.view-Members ul li{ list-style-type: none; margin: 0 0 0 0; padding: 0; width: 97px; background: #F2F2F2; 
  border: 1px solid #fff; /* to have at least some margin in IE7 */ 
  display:-moz-inline-stack; /* for older firefox */
  display:inline-block; 
  zoom:1; /* IE7 hack for inline-block, see: http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/ */
  *display:inline /* the * makes sure its just recognized by IE */;
}
div.view-Members ul li .views-field-picture, div.view-Members ul li .views-field-name{ padding:5px; }
div.view-Members ul li .views-field-picture .picture { border: 1px solid #fff; }
div.view-Members ul li .views-field-name{ text-align:center; }
div.view-Members ul li a {
  text-decoration:none;
  color: #333;
}
div.view-Members ul li a:visited { color: #666; }
div.view-Members ul li a:hover { color: #000; }

/*** SEARCH FORM *******/
#search-form {
  
}
#search-form input.form-text {
  background: #f2f2f2;
  border: 2px solid #f2f2f2;	
  padding:3px;
}
#search-form input:focus.form-text{
  border: 2px solid #E6E6E6;	
}
#search-form input.form-submit, #search-form input.form-submit:focus {
  background: #e6e6e6;
	color: #333;	
	padding:3px;
	border-left: solid 1px #f2f2f2;
	border-top:solid 1px #f2f2f2;	
	border-right: solid 1px #666;
	border-bottom: solid 1px #666;	
}

#search-form input.form-submit:active {
	padding:3px;
	border-right: solid 1px #f2f2f2;
	border-bottom:solid 1px #f2f2f2;	
	border-left: solid 1px #666;
	border-top: solid 1px #666;	
}

/*** SEARCH HINTS ****/
.box .box-inner h2 {
  margin-bottom:5px;
}
.search-form-info {
  font-size: 0.9em;
  line-height: 1.2em;
  color:#666;
  margin-bottom:20px;
}
.search-form-info ul li {
  list-style-type: square;
  margin:0px;
  padding:0;
}
.search-form-info ul {
  margin-top:0px;
  padding-left:10px;
  list-style-position:inside;
}
.search-form-info .hints{
  margin-bottom:0px;
}

/*** SEARCH RESULT **********/
div.search-result {
  background: #f2f2f2;
  padding: 5px;
  margin-bottom: 5px;
}
div.search-result h2 {
  float:left;
}
div.search-result .node-type {
  float:right;
}
div.search-result .node-type span {
  display: block;
  padding: 3px;
  line-height:1em;
  margin:0px !important;
  color: #fff;
  font-size:0.8em;
  background:#333;
}
div.search-result-Agent .node-type span{
  background: #8FA915;
}
div.search-result-Artwork .node-type span{
  background: #BF2726;
}
div.search-result-Exhibition .node-type span{
  background: #DEAD26;
}

/* JQUERY UI ***************/

.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-widget-overlay { background:#666; left:0; top:0; position:absolute; width: 100%; height:100%; opacity: .30; filter:Alpha(Opacity=30);/*IE*/}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
