/*
 * colors
 * 
 * link: hover: blue, active: dark-blue, visited: grey
 * 
 * 
 */


body {
  font-family: Arial, sans-serif;
  color: #2D1E1E;
}

h1, h2, h3, h4, h5, h6, .views-table caption {
	color: #2D1E1E; /*brown, same as primary links*/
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h1 {  
}
h2, .views-table caption {
  font-size:1.5em;
}

p {
  
}

a {
	/*color: #0071BC;*/
 color: #2D1E1E;
 text-decoration: none;
 
}

a:hover {
  /*color: #2E3192;*/
}

a:active {
  /*color: #2E3192;*/
}

a:visited, a.visited {
  color: #666;
}

table {
  width: 100%; 
}



 
