/** hi there. this was once made by valderama.net 2010 */

body {
  font-family: Verdana, Arial, sans-serif;
  color: #000;
}

h1, h2, h3, h4, h5, h6, .views-table caption {
	color: #000;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-weight: normal;
}
h1 {  font-size: 18px; }
h2, .views-table caption { font-size:14px; }
h3 { font-size: 13px; }

p {  
}

a {
 color: #000;
 text-decoration: none; 
}
a:hover {
}
a:active {
}
a:visited, a.visited {
  color: #666;
}

table {
  width: 100%; 
}
tr.odd { background: #F8F8F8 !important; } 
tr.even {}

hr {
  border:1px solid #ddd;
  height:1px;
}



 
